* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(30deg, #639792, #166a62);
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
}

.content {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: center;
    height: 75px;
}

.banner {   
    display: flex;  
    margin-top: 50px;
    height: 200px;
    padding-bottom: 80px;
    padding-left: 20px;
    border-bottom: 2px solid #055838;
    border-left: 2px solid #b81b06e0;
    border-bottom-left-radius: 20px;
}

.banner img {
    height: 200px;
    width: auto;
}

.title {
    align-content: center;
    margin-left: 15px;
}   

.title h1 {
    color: black;
}

.title h2 {
    font-weight: 300;
    color: #000000;
}

.meny {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 50px;
    margin-top: 50px;
    margin: 0 auto;
    font-size: 20px;    
}

/* .textparagraphs {
    background-color: #ffffff50;
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 20px;
} */

.meny a{
    text-decoration: none;
    color: #183a31;
    margin-top: 18px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(150, 150, 150, 0.651);
}

.collapsible {
    text-decoration: none;
    background-color: rgb(15, 75, 69);
    color: #ebf2f3;
    margin-top: 18px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(150, 150, 150, 0.651);
    font-size: large;
}

.collapsible-text {
    display: none;
    flex-direction: column-reverse;
    width: 20vw;
    background-color: #ffffff50;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-size: medium;
    transition: 0.2s ease-out;
}

@media screen and (max-width: 600px) {

    .banner {
        border: none;
        font-size: 2vw;
        height: auto;
        padding-bottom: 0;
    }

    .banner .img {
        align-self: center;
    }

    #logo {
        height: 70px;
    }

    .meny {
        font-size: 15px;
    }

    .content {
        font-size: 15px;
    }

  }