* {
    font-family: Kanit, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(30deg, #3aa185, #ffffff);
    background-size: auto;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}


.header {
    display: flex;
    justify-content: center;
    height: 75px;
}

.banner {   
    display: flex;  
    margin-top: 50px;
    height: 200px;
    padding-bottom: 80px;
    padding-left: 20px;
    border-bottom: 2px solid #055838;
    border-left: 2px solid #b81b06e0;
    border-bottom-left-radius: 20px;
}

.banner img {
    height: 200px;
    width: auto;
}

.title {
    align-content: center;
    margin-left: 15px;
}   

.title h1 {
    color: black;
}

.title h2 {
    font-weight: 300;
    color: #269c83;
}

.meny {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    font-size: 20px;    
}

a {
    text-decoration: none;
    color: #183a31;
    margin-top: 18px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(150, 150, 150, 0.651);
}

a:hover {
    background-color:
}
